@tailwind base;
@tailwind components;
@tailwind utilities;

.page-header,
.page-header-space {
  height: 20vh;
}

.page-footer,
.page-footer-space {
  height: 15vh;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
  background: white; /* for demo */
}

.page {
  page-break-after: always;
}

@page {
}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  body {
    margin: 0;
  }
}
