@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Good Timing";
  src: url("/fonts/GoodTiming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page-header,
.page-header-space {
  height: 20vh;
}

.page-footer,
.page-footer-space {
  height: 17vh;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
  background: white; /* for demo */
}

.page {
  page-break-after: always;
}

@page {
}

@media print {
  .page-header,
  .page-header-space {
    height: 22vh;
  }

  .page-footer,
  .page-footer-space {
    height: 22vh;
  }

  .table-header {
    display: table-header-group;
  }

  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  body {
    margin: 0;
  }

  .test-table {
    page-break-before: always;
  }
}
