@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Good Timing";
  src: url("/fonts/GoodTiming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page-header,
.page-header-space {
  height: 11vh;
}

.page-footer,
.page-footer-space {
  height: 13vh;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
  /* background: white; for demo */
}

.page {
  page-break-after: always;
}

@page {
}

@media print {
  .page-header,
  .page-header-space {
    height: 15vh;
    margin: 5px;
  }

  hr {
    margin: 10px;
  }

  .page-footer,
  .page-footer-space {
    height: 15vh;
  }

  .table-header {
    /* display: table-header-group;
    margin-top: 10px; */
  }

  thead {
    display: table-header-group;
    border: 1px primary;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  body {
    margin: 0;
  }

  .test-table {
    page-break-before: always;
  }
  .patient {
    page-break-before: always;
  }
}
/* 
.bg-img {
  background-image: url("../public/flowers.png");
  background-size: 100% 100vh;  Change this line 
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
} */
